<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/register.css">
    <title>Add Product</title>
    
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Innomotiva2K19</a></li>
                <li class="main-header__item"><a class="active" href="/register">Register</a></li>
                <li class="main-header__item"><a class="active" href="/signup">Signup</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <!-- student 1  -->
        <form class="product-form" action="/register" method="POST">
            <div class="form-control">
                <label for="title">Student Name 1</label>
                <input type="text" name="studentName1" id="studentName1" required>
            </div>

            <div class="form-control">
                <label for="title">College</label>
                <select name="college1" id="college1">
                    <option>PRIME COLLEGE OF ARCHITECTURE AND PLANNING</option>
                    <option>SIR ISSAC NEWTON COLLEGE OF ENGINEERING AND TECHNOLOGY </option>
                    <option>A.V.C COLLEGE OF ENGINEERING</option>
                    <option>E.G.S.PILLAY ENGINEERING COLLEGE</option>
                    <option>SEMBODAI RUKMANI VARATHARAJAN ENGINEERING COLLEGE </option>
                    <option>UNIVERSITY COLLEGE OF ENGINEERING, PATTUKKOTTAi</option>
                    <option>SMR EAST COAST COLLEGE OF ENGINEERING AND TECHNOLOGY</option>
                    <option>K.S.K COLLEGE OF ENGINEERING AND TECHNOLOGY</option>
                    <option>STAR LION COLLEGE OF ENGINEERING AND TECHNOLOGY</option>
                    <option>ARASU ENGINEERING COLLEGE</option>
                    <option>P.R.ENGINEERING COLLEGE </option>
                    <option>PONNAIYAH RAMAJAYAM COLLEGE OF ENGINEERING AND TECHNOLOGY</option>                                             
                    <option>ST.JOSEPH’S COLLEGE OF ENGINEERING AND TECHNOLOGY</option>
                    <option>PARISUTHAM INSTITUTE OF TECHNOLOGY AND SCIENCE </option>
                    <option>VANDAYAR ENGINEERING COLLEGE</option>
                    <option>ANNAI COLLEGE OF ENGINEERING AND TECHNOLOGY</option>
                    <option>AS-SALAM COLLEGE OF ENGINEERING AND TECHNOLOGY</option>
                    <option>ANJALAI AMMAL MAHALINGAM ENGINEERING COLLEGE</option>
                    <option>A.R.J COLLEGE OF ENGINEERING AND TECHNOLOGY</option>
                    <option>UNIVERSITY COLLEGE OF ENGINEERING, TIRUCHIRAPPALLI</option>
                    <option>MAHALAKSHMI ENGINEERING COLLEGE</option>
                    <option>RVS KVK SCHOOL OF ARCHITECTURE </option>
                    <option>DHANALAKSHMI SRINIVASAN INSTITUTE OF TECHNOLOGY</option>
                    <option>SUREYA COLLEGE OF ENGINEERING</option>
                    <option>K.RAMAKRISHNAN COLLEGE OF TECHNOLOGY</option>
                    <option>OAS INSTITUTE OF TECHNOLOGY AND MANAGEMENT, GROUP OF INSTITUTIONS </option>
                    <option>M A M SCHOOL OF ARCHITECTURE</option>
                    <option>C.A.R.E SCHOOL OF ARCHITECTURE</option>
                    <option>M.A.M. SCHOOL OF ENGINEERING</option>
                    <option>TRP ENGINEERING COLLEGE</option>
                    <option>PERIYAR MANIAMMAI UNIVERSITY - [PMU], THANJAVUR</option>
                    <option>ADAIKALAMATHA COLLEGE - [AMC], THANJAVUR</option>
                    <option>ANNAI COLLEGE OF ARTS AND SCIENCE - [ACAS], THANJAVUR </option>
                    <option>BHARATH COLLEGE OF SCIENCE AND MANAGEMENT, THANJAVUR</option>
                    <option>SASTRA UNIVERSITY, THANJAVUR </option>
                    <option>AVVM SRI PUSHPAM COLLEGE, THANJAVUR</option>
                    <option>SHRI ANGALAMMAN COLLEGE OF ENGINEERING AND TECHNOLOGY </option>
                    <option>J.J.COLLEGE OF ENGINEERING AND TECHNOLOGY </option>                                                                     <option>JAYARAM COLLEGE OF ENGINEERING AND TECHNOLOGY
                    <option>KURINJI COLLEGE OF ENGINEERING AND TECHNOLOGY</option>
                    <option>M.A.M COLLEGE OF ENGINEERING</option>
                    <option>M.I.E.T ENGINEERING COLLEGE</option>
                    <option>OXFORD ENGINEERING COLLEGE</option>
                    <option>PAVENDAR BHARATHIDASAN COLLEGE OF ENGINEERING AND TECHNOLOGY</option>
                    <option>SARANATHAN COLLEGE OF ENGINEERING</option>
                    <option>TRICHY ENGINEERING COLLEGE </option>
                    <option>KONGUNADU COLLEGE OF ENGINEERING AND TECHNOLOGY </option>
                    <option>CAUVERY COLLEGE OF ENGINEERING AND TECHNOLOGY</option>
                    <option>M.A.M COLLEGE OF ENGINEERING AND TECHNOLOGY</option>
                    <option>K. RAMAKRISHNAN COLLEGE OF ENGINEERING</option>
                    <option>INDRA GANESAN COLLEGE OF ENGINEERING</option>
                    <option> C.A.R.E. GROUP OF INSTITUTIONS</option>
                    <option>SHIVANI ENGINEERING COLLEGE</option>
                    <option>IMAYAM COLLEGE OF ENGINEERING</option>
                    <option>VETRI VINAYAHA COLLEGE OF ENGINEERING AND TECHNOLOGY</option>
                    <option>SHIVANI INSTITUTE OF TECHNOLOGY</option>
                    <option>PAVENDAR BHARATHIDASAN INSTITUTE OF INFORMATION TECHNOLOGY</option>
                    <option>Mass Group Of Institutions </option>
                    <option>Annai College Of Engineering And Technology</option> 
                    <option>Sri Sankara Arts & Science College </option>
                    <option>Annai College Of Arts And Science </option>
                    <option>Arasu Engineering College</option> 
                    <option>Mass College Of Education </option>       
                    <option>A.r.r. College Of Education </option> 
                    <option>Government College For Women </option> 
                    <option>Sri-la-sri Kasivasi Swaminatha Swamigal Arts College</option>  
                    <option>Mass College Of Arts & Science </option> 
                    <option>S.k.s.s Arts College </option> 
                </select>
            </div>
            

            <div class="form-control">
                <label for="title">Department</label>
               <select name="department1" id="department1">
                   <option >B.TECH-IT</option>
                   <option >B.ED-CSE</option>
                   <option >B.ED-ECE</option>
                   <option >BSC.COMPUTER SCIENCE</option>
                   <option >BCA</option>
                   
               </select>
            </div>

            <div class="form-control">
                <label for="title">Email</label>
                <input type="email" name="email1" id="email1" required>
            </div>

            <div class="form-control">
                <label for="title">Phone no</label>
                <input type="integer" name="phnno1" id="phnno1" required>
            </div>
            <button type="submit">Register</button>
        </form>
    </main>
    
</body>

</html>